name: Check Pull request conventions
on:
  pull_request:
    types: [edited, synchronize, opened, reopened]
  pull_request_target:
    types: [edited, synchronize, opened, reopened]

jobs:
  check-signed-commits:
    name: Check signed commits in PR
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
    - name: Information about how to sign commits see https://docs.github.com/en/authentication/managing-commit-signature-verification/signing-commits
      # "with comment" below does not work for forks.
      run: |
        echo "If you need to sign commits, Please see https://docs.github.com/en/authentication/managing-commit-signature-verification/signing-commits"
    - name: Check signed commits in PR on fail see above information.
      uses: 1Password/check-signed-commits-action@v1
      with:
        comment: |
          Thank you for your contribution, but we need you to sign your commits. Please see https://docs.github.com/en/authentication/managing-commit-signature-verification/signing-commits

  verify-linked-issue:
    name: Verify Linked Issue
    runs-on: ubuntu-latest
    steps:
    - name: Verify Linked Issue
      uses: hattan/verify-linked-issue-action@v1.1.5
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        message: 'Please attach at least one issue to your Pull Request'